.glyphicon.glyphicon-tasks {
  font-size: 75px;
  color: purple;
}
.table {
  text-align: justify;
}

div> [id*='-form'] {
  border-style: solid;
  border-width: .1px;
  border-color: #d3d3d3;
  padding: 2%;
  margin-bottom: 5%;
  margin-right: 20%;
}

.txt-group {
  padding-left: 5%;
  display: block;
}

.wrapper {
    text-align: center;
}

.background {
  background-color: #df9fdf
}



