// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#game-form {
  padding-right: 7%;
}

#map-container {
   height: 310px;
   width: 410px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
   margin-bottom: 25px;
 }
 #map {
   height: 300px;
   width: 400px;
 }
