// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#register-form {
  margin: 3%;
  border-style: solid;
  border-width: .1px;
  border-color: #d3d3d3;
}

div.block-inline {
  padding: 4%;
  display: inline-block;
  width: 20%;
  margin-right: 3%;
}

div.jumbo-inline {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

div.jumbo-inline div.container {
  height: 50%;
  width: 100%;
  padding: 3%;
}

div.jumbo-inline div.jumbotron h1.jumbo-text {
  font-size: 350%;
}
